dataset/
dataset_ben/
dataset_test_1/
dataset_test_2/
dataset_test_ben/
dataset_uji_coba/
keras/
Logs/
model_pd/
model_tfjs/
model_tfjs_jadi/
venv/
__pycache__
dataset_ben.zip
dataset_rafjar_benaya.zip
dataset_rafjar.zip
dataset_test_ben.zip
model.json
